.root {
	position: relative;
	height: 200px;
	flex-direction: column;
	gap: 18px;
}

.footer {
	position: absolute;
	bottom: 0;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

.navBtnsContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.navButtons {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
}

.rightSide {
	display: flex;
	align-items: center;
	gap: 8px;
}

.leftSide {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.counter {
	font-size: 14px;
	color: #42567a;
}

.year {
	color: #3877ee;
	font-family: 'Bebas Neue', sans-serif;
	font-size: 16px;
}

.card {
	display: flex;
	flex-direction: column;
	gap: 15px;

	p {
		color: #42567a;
		font-size: 14px;
		line-height: 1.3;
	}
}

.nav-btn {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: none;
	background: white;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
	gap: 8px;
	cursor: pointer;

	&:disabled {
		opacity: 0.6;
	}
}

.paginationContainer {
	display: flex;
	gap: 8px;
}

.paginationItem {
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: #42567a;
	width: 6px;
	height: 6px;
	border-radius: 50%;

	padding: 0;
	border: none;
	opacity: 0.2;
	&.active {
		opacity: 1;
	}
}
